<div class="heading-text">Dashboard Overview</div>
<div class="row">
  <div class="col-12 col-sm-6 col-md-3 ps-0">
    <app-generic-card title="Total Portfolio Value" subtitle="₹ {{ totalPortfolioValue }}">
      <!-- actionButtonLabel="Click Me" -->
      <!-- <p>This is the content of the card. You can put any HTML here.</p> -->
    </app-generic-card>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <app-generic-card title="Investments" subtitle="₹ {{ totalInvestment }}">
      <!-- <p>Some different content for another card.</p> -->
    </app-generic-card>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <app-generic-card title="Expenses" subtitle="₹ {{ totalExpenses }}">
      <!-- <p>This is the content of Card 3.</p> -->
    </app-generic-card>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <app-generic-card title="Net Worth" subtitle="₹ {{ netWorth }}">
      <!-- <p>This is the content of Card 4.</p> -->
    </app-generic-card>
  </div>
  <!-- Pie Chart inside a Card -->
</div>

<div class="row">
  <div class="col-6 mt-4 ps-0">
    <app-generic-card title="Portfolio Allocation" subtitle="Investment Types">
      <app-generic-pie-chart
        [label]="pieChartLabels"
        [data]="pieChartData"
        [type]="'pie'"
      ></app-generic-pie-chart>
    </app-generic-card>    
  </div>
  <div class="col-6 mt-4">
    <app-generic-card title="Portfolio Value Over Time" subtitle="Investment Trends">
      <app-generic-pie-chart
        [type]="'line'"
        [label]="lineChartLabels"
        [lineChartData]="lineChartData"
      ></app-generic-pie-chart>
    </app-generic-card>
    
  </div>
</div>

<!-- Table -->
<div class="heading-text">Recent Activity</div>
<div class="row mt-4">
  <div class="col-12 ps-2 pe-2">
    <app-generic-table [data]="users" [columns]="columns" [actionsEnabled]="false"></app-generic-table>
  </div>
</div>
