.mat-table {
  width: 100%;
}

.search-container {
  margin-bottom: 10px;
  text-align: right;
}

input[type="text"] {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.negative-value {
  color: red;
  font-weight: bold;
}
