<form [formGroup]="expensesForm">
  <div class="heading-text">Expenses Summary</div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 ps-1">
      <app-generic-card
        title="Total Expenses"
        formControlName="totalExpenses"
        [subtitle]="expensesForm.get('totalExpenses')?.value || ''"
      >
      </app-generic-card>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <app-generic-card
        title="Monthly Budget"
        formControlName="monthlyBudget"
        [subtitle]="expensesForm.get('monthlyBudget')?.value || ''"
      >
      </app-generic-card>
    </div>
    <div class="col-12 col-sm-6 col-md-4 pe-3">
      <app-generic-card
        title="Current Month's Spending"
        formControlName="currentMonthExpenses"
        [subtitle]="expensesForm.get('currentMonthExpenses')?.value || ''"
      >
      </app-generic-card>
    </div>
  </div>

  <div class="expenses-header mt-3">
    <div class="heading-text">Expenses Details</div>
    <app-btn [label]="btnLabel"></app-btn>
  </div>

  <div class="row">
    <div class="col-12">
      <app-generic-table [data]="users" [columns]="columns"></app-generic-table>
    </div>
  </div>
</form>
