.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background-color: #f4f7f9;
    margin: 0;
}

.signup-card {
    display: flex;
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.signup-content {
    padding: 40px;
    width: 50%;
    text-align: center;
    border-right: 1px solid #e0e0e0;
}

.signup-header {
    margin-bottom: 20px;
}

.signup-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.social-signup button {
    margin: 5px;
    background-color: white;
    color: #757575;
    border: 1px solid #e0e0e0;
}

.social-signup button mat-icon {
    font-size: 20px;
}

.full-width {
    width: 100%;
    margin-bottom: 20px;
}

button[mat-raised-button] {
    border-radius: 5px;
    padding: 10px;
}

.login-container {
    padding: 40px;
    width: 50%;
    background: linear-gradient(135deg, #20bf55, #01baef);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
}

.login-container h3 {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
}

.login-container p {
    margin-bottom: 30px;
    text-align: center;
}

.valid {
    color: green;
    font-weight: bold;
  }
  
  .invalid {
    color: red;
  }
  