<form [formGroup]="investmentForm">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 ps-1">
        <app-generic-card
          title="Current Value"
          formControlName="currentValue"
          [subtitle]="investmentForm.get('currentValue')?.value || ''">
        </app-generic-card>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <app-generic-card
          title="Total Invested"
          formControlName="totalInvested"
          [subtitle]="investmentForm.get('totalInvested')?.value || ''">
        </app-generic-card>
      </div>
      <div class="col-12 col-sm-6 col-md-4 pe-3">
        <app-generic-card
          title="Overall ROI"
          formControlName="overallROI"
          [subtitle]="investmentForm.get('overallROI')?.value || ''">
        </app-generic-card>
      </div>
    </div>

    <div class="mt-3">
      <app-btn [label]="btnLabel"></app-btn>
    </div>
    
    <div class="row">
      <div class="col-12">
        <app-generic-table [data]="users" [columns]="columns"></app-generic-table>
      </div>
    </div>
  </form>