<mat-toolbar color="primary" class="custom-toolbar">
  <mat-icon class="profile-icon mr-0">shopping_bag</mat-icon>
  <span class="bold-text">MyPortfolio</span>
  <span class="spacer"></span>
  <button mat-button class="nav-button" routerLink="/home">Home</button>
  <button mat-button class="nav-button" routerLink="/dashboard">Dashboard</button>
  <button mat-button class="nav-button" routerLink="/investment">Investment</button>
  <button mat-button class="nav-button" routerLink="/expenses">Expenses</button>
  <button mat-button class="nav-button" routerLink="/report">Report</button>
  <button mat-button class="nav-button" routerLink="/goal">Goal</button>
  <button mat-button class="nav-button" routerLink="/contact">Contact</button>

  <!-- Profile Menu Trigger -->
  <div [matMenuTriggerFor]="profileMenu" class="profile-icon-container">
    <ng-container *ngIf="user?.picture; else initialsBlock">
      <img [src]="user.picture" alt="Profile Picture" class="profile-img">
    </ng-container>

    <!-- Initials Block -->
    <ng-template #initialsBlock>
      <div class="profile-initials">{{ getInitials(user?.username || '') }}</div>
    </ng-template>
  </div>

  <!-- Profile Dropdown -->
  <mat-menu #profileMenu="matMenu" class="profile-dropdown">
    <div class="profile-card">
      <!-- Profile Picture or Initials -->
      <div class="profile-img-container">
        <ng-container *ngIf="user?.picture; else initialsBlockDropdown">
          <img [src]="user.picture" alt="Profile Picture" class="profile-img">
        </ng-container>

        <!-- Initials Block -->
        <ng-template #initialsBlockDropdown>
          <div class="profile-initials">{{ getInitials(user?.username || '') }}</div>
        </ng-template>
      </div>

      <!-- Profile Details -->
      <div class="profile-info">
        <mat-icon>person</mat-icon>
        <span>{{ user?.username }}</span>
      </div>

      <div class="profile-info" *ngIf="user?.mobileNo">
        <mat-icon>smartphone</mat-icon>
        <span>{{ user?.mobileNo }}</span>
      </div>

      <div class="profile-info">
        <mat-icon>email</mat-icon>
        <span>{{ user?.email }}</span>
      </div>

      <!-- Logout Button -->
      <div class="logout-container">
        <button mat-button color="warn" (click)="logout()">Logout</button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>