<div class="login-container">
  <div class="login-card">
    <div class="login-content">
      <div class="login-header">
        <img src="assets/images/website_logo.png" alt="Logo" class="login-logo" />
        <h2>Login to Your Account</h2>
        <p>Login using social networks</p>
        <div class="social-login">
          <button mat-icon-button color="primary">
            <mat-icon>facebook</mat-icon>
          </button>

          <!-- Google Sign-In Button (GIS) -->
          <div id="google-signin-btn"></div>

          <button mat-icon-button color="primary">
            <mat-icon>linkedin</mat-icon>
          </button>
        </div>
        <p>OR</p>
      </div>

      <form [formGroup]="loginForm">        
        <app-input 
          label="Email" 
          placeholder="Email" 
          formControlName="email"
        ></app-input>

        <app-input 
          label="Password" 
          type="password" 
          placeholder="Password" 
          formControlName="password"
        ></app-input>

        <button mat-raised-button color="primary" class="full-width" (click)="onSignIn()">
          Sign In
        </button>
      </form>
    </div>
    <div class="signup-container">
      <h3>New Here?</h3>
      <p>Sign up and discover a great amount of new opportunities!</p>
      <button mat-raised-button color="accent" routerLink="/signup">Sign Up</button>
    </div>
  </div>
</div>
