// @import '../../../../assets/sass/snackbar'
@import '../src/assets/sass/snackbar';

.bg-color{
    // background: #CCE3DE;
    background: #EAF4F4;
}

.heading-text{
    font-weight: 700;
    font-size: 18px;
}

.nsm7Bb-HzV7m-LgbsSe{
    width: 319px !important;
    height: 57px !important;
    border: 1px solid #2121216e !important;
    &:hover {
        border-color: #212121 !important;
    }
}
