// @import '../../../../assets/sass/snackbar'
@import '../src/assets/sass/snackbar';

.bg-color{
    // background: #CCE3DE;
    background: #EAF4F4;
}

.heading-text{
    font-weight: 700;
    font-size: 18px;
}